<%- layout('layouts/main') %>
<div class="container col-10">
    
		<table class="table table-hover" >
			<thead class="thead-dark">
				<tr>
					<th scope="col">Rut</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col" width="200px">Dirección</th>
                    <th scope="col">Acción</th> 
				</tr>
			</thead>
			<tbody class="">
				
					<%for (let b in clients) {%>
				<tr>
										
					
                    <td><%= clients[b]._id %></td>
                    <td><%= clients[b].name %></td>
                    <td><%= clients[b].lastname %></td>
                    <td><%= clients[b].address %></td>
                    <td>                        
                        <a class="btn btn-primary" href="/clients/<%= clients[b]._id %>" role="button">Editar</a>
                    </td>
                    
				</tr><% } %>
						
			</tbody>	
        </table>
        <br>
      
</div>